@import "fonts"

@import "libs"

*
	box-sizing: border-box

html, body
	padding: 0
	margin: auto

html
	font-size: 10px
	line-height: 1
	min-width: 300px

p, a, .link
	font-size: 1rem
h1
	font-size: 2.6rem
h2
	font-size: 2.15rem
h3
	font-size: 1.7rem
h4
	font-size: 1.4rem
h5
	font-size: 1rem
h6
	font-size: 0.85rem


h1, h2, h3, h4, h6
	text-transform: uppercase
	font-weight: bold

.container
	margin: 0 10rem
	padding: 0 3rem


header
	display: flex
	justify-content: space-between
	background: #eeb253
	padding: 0 10rem

.logo
	display: flex
	align-items: center
	font-size: 2rem

.nav-menu
	display: flex
	align-items: center
	padding: 0
	
	&__item
		display: inline-block
		margin-left: 4rem
		a 
			font-size: 1.5rem
			text-transform: uppercase
			text-decoration: none
			color: #53544e
			&:hover
				color: #ffffff
	.balance
		&:after
			margin-left: .5rem
			display: inline-block
			content: "40$"
			opacity: .8

	.fa
		span 
			margin-left: 1rem

.right-menu
	display: flex
	justify-content: space-between
	align-items: center
	font-size: 1.5rem

	.new-order
		text-align: center
		border: .1rem solid silver
		border-radius: .5rem
		background: inherit
		padding: 1.5rem 1rem

		.fa
			margin-left: 0
			span 
				margin-left: 0.5rem
				text-transform: uppercase
	.fa 
		margin-left: 2.5rem
		font-size: 1.5rem

	&__user
		position: relative
		margin-left: 2.5rem
		width: 2.5rem
		height: 2.5rem
		background: #ffffff
		border-radius: 50%
		border: 0

		.fa
			margin-left: 0

		&--fa-user
			position: absolute
			opacity: .2
			top: 50% 
			left: 0 
			right: 0
			transform: translateY(-50%)

		&--fa-down
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: -70%
		
		&:hover
			cursor: pointer

.order 
	display: flex
	justify-content: space-around
	align-items: center
	margin: .5rem 0
	padding: 2.5rem 0
	border-radius: .5rem
	border-left: .5rem solid #b4d0a9
	background: #f3f5f7
	font-size: 1.4rem
	line-height: 2.5rem

	&__item
		div:first-child
			font-weight: bold

	&__title

	&__cat

	&__deadline

	&__status
		display: inline-block
		width: 1.5rem
		height: 1.5rem
		background: #76ac5c
		border-radius: 50%
		margin-left: -2rem
		// outline: .5rem
		// outline-color: white

	&__name

	&__rate
		.star
			color: #deb15a
			margin-right: .5rem

	&__steps

	&__currentStep
		height: .7rem
		margin: (2.5rem-0.7rem)/2 0
		background: #d9dce2
		border-radius: 30rem

		&--1
			display: inline-block
			float: left
			width: 20%
			height: 100%
			background: #76ac5c
			border-radius: 30rem
		&--2
			@extend .order__currentStep--1
			width: 40%
			display: none
		&--3
			@extend .order__currentStep--2
			width: 60%
		&--4
			@extend .order__currentStep--2
			width: 80%
		&--5
			@extend .order__currentStep--2
			width: 100%

	&__assigned
		display: flex

	&__icon
		margin-right: 1.5rem

	&__about-user
		// display: flex
		// flex-direction: column

	&__id
		font-weight: normal!important





@import "media"
